*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(120deg,#2980b9,#8e44ad);
    height: 100vh;
    overflow:hidden;
}
/* 導覽行 */
nav{
    height: 80px;
    width: 100%;
    background: #34495e;
}
label.logo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
}
nav ul{
    float: right;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
    color:white;
    font-size: 18px;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
a.active1,a:hover{
    border: 1px solid white;
    transition: .5s;
}
nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right; 
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
@media (max-width: 1048px){
    label.logo{
        font-size: 32px;
        padding-left: 20px;
    }
    nav ul{
        margin-right:20px;
    }
    nav a{
        font-size:17px;
    }
}
@media(max-width:909px){
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active1,a:hover{
        border: none;
        color: #3498db;
    }
    nav ul.show{
        left: 0;
    }
    div.center{
        display: none;
    }
}
/* 輪播圖 */
.center{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 550px;
    width: 1000px;
    box-shadow: 0px 5px 8px rgba(0,0,0,.3);
    overflow: hidden;
}
.images{
    height:100%;
    width:500%;
    display:flex;
}
.images img{
    width: 100%;
    height: 100%;
}
.images .slide{
    width: 20%;
    transition: .6s;
}
.buttons{
    position:absolute;
    bottom:20px;
    left:50%;
    transform: translateX(-50%);
    display:flex;
}
.buttons a{
    height: 8px;
    width: 30px;
    border: 2px solid white;
    margin:0 5px;
    border-radius:10px;
}
a.active{
    transition: .5s;
    transform: scale(0.999);
    background: white;
    animation : animate .4s;
}
@keyframes animate{
    100%{
        tranform: scale(0.8);
    }
}
